<div>
    <ol>
        <li>
            Fill out your name below
        </li>
        <li>
            Add a profile picture of yourself in place of the icon below
        </li>
        <li>
            Link your online portfolio, git repo, or Linkedin profile to the icon.
        </li>
        <li>
            Make sure your link opens in a new tab.
        </li>
        <li>
            In the Typescript file, write a 3 sentence biography about yourself.
        </li>
        <li>
            Display your bio inside the div marked by the class bio.
        </li>
        <li>
            Make the width of your bio 65% of the screen, and make sure it is centered.
        </li>
        <li>
            Now we are going to start the test, create a link that navigates to a component called ApiComponent. Make sure this button is 508 compliant.
        </li>
    </ol>
</div>
<hr/>
<div style="text-align:center">
    <h2>My name is 
        <span class="profileName">
            {{profile_name}}
        </span>
    </h2>
    <img src="{{profile_pic}}" width="250px" height="250px" alt=""/>
    <div class="bio">
        <!-- BIO ABOUT YOURSELF -->
    </div>
</div>
<!-- Add nav link here -->