$primary-color: blue;
$font-size: 25px;

.profileName {
    color: $primary-color;
}

.bio {
    font-size: $font-size;
    text-align: left;
    width: 65%;
    margin: 0 auto;
    text-align: center;
}